<i class="material-icons menu">menu</i>

<%
    @data.each do |element|
%>
    <!-- element[0] nummer utan nollor -->
    <!-- element[1] namn -->

    <!-- element[4] är ett test med färger, ta bort om det strular eller inte funkar -->
    <article onscroll="scrollMove( <%= element[0] %> )" id="pokemon_article<%=element[0]%>" style="
            --article-bg: <%= element[4]%>;
        ">


        <img class="sprite" src="/img/pokemon<%=element[0]%>.png" alt="#">
        
        <h2 class="name"><%= element[1] %></h2>
        <h2 class="number"><%= numberExtender(element[0]) %></h2>
        
        <h3 class="pokeline"><%
            pokeline = @pokeline[element[2] - 1][1]
        %><%= pokeline %> line</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quisquam maxime veniam consequatur inventore sequi, excepturi tempora nesciunt ipsa fugit!</p>

        <a href="/pokemon/<%=element[0]%>"><button><%= element[1] %></button></a>
    </article>

    <!-- name where id is element[2]??? (line_starter) -->
    
    
    
<%
    end
%>
    


<ul class="scoll-nav">
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
</ul>
