<a href="/"><button>Back</button></a>
<article>
    <h2><%= @data[0][1] %></h2>
    <h2><%= numberExtender(@data[0][0]) %></h2>
    
    <div class="pokemon--intro"></div>
    <div class="section">
        
        <h3 class="section--header">Data</h3>
        <!-- <%= @data[0][6]%> 채r pokemon_data-->
        <p><%= @data[0][6]%></p>
    </div>
    <div class="section">
        <h3 class="section--header">Origin</h3>
        <!-- <%= @data[0][7]%> 채r pokemon_origin-->
        <p><%= @data[0][7]%></p>    
    </div>
    <div class="section">
        <h3 class="section--header">Apperance</h3>
        <!-- <%= @data[0][8]%> 채r pokemon_apperance-->
        <p><%= @data[0][8]%></p>
    </div>
    <div class="section">
        <h3 class="section--header">Other Games</h3>
        <!-- <%= @data[0][9]%> 채r pokemon_other-games-->
        <p><%= @data[0][9]%></p>    
    </div>
</article>